<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<!--Edit This-->
		<add name="swimmingclubdb"
			 connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\Github\Assignment\Y1S2\swimmingclubdb.mdf";Integrated Security=True'
			 providerName="System.Data.SqlClient" />
		
		<!--Deric-->
		<!--
		<add name="swimmingclubdb"
			 connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\Github\Assignment\Y1S2\swimmingclubdb.mdf";Integrated Security=True'
			 providerName="System.Data.SqlClient" />
		-->
		
		<!--Qing Fui-->
		<!--
		<add name="swimmingclubdb"
			 connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="D:\APU\Year1 Sem2\Introduction To Object Oriented Programming\Y1S2-Assignment\swimmingclubdb.mdf";Integrated Security=True'
			 providerName="System.Data.SqlClient" />
		-->
	</connectionStrings>
</configuration>